@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

header {
    height: 7em;
    background-color: #d1cdcc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px;
}

.logo {
    width: 14.4em;
}

.actions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 52px;
}

.header-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.header-menu ul a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-family: "Inter";
    text-transform: uppercase;
    font-weight: 600;
}

.header-btns {
    display: flex;
    gap: 16px;
}

.header-button {
    border: none;
    font-size: 15px;
    width: 8em;
}

#signUp-btn {
    background-color: #dd2c00;
    color: white;
}

#signIn-btn {
    background-color: white;
}
